<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fightBoxBlood02a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,6}</string>
                <key>spriteSourceSize</key>
                <string>{149,6}</string>
                <key>textureRect</key>
                <string>{{579,189},{149,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightBoxBlood02b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,6}</string>
                <key>spriteSourceSize</key>
                <string>{149,6}</string>
                <key>textureRect</key>
                <string>{{730,189},{149,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightBoxScore.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,66}</string>
                <key>spriteSourceSize</key>
                <string>{224,66}</string>
                <key>textureRect</key>
                <string>{{954,1},{224,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fightBtn01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{373,105}</string>
                <key>spriteSourceSize</key>
                <string>{373,105}</string>
                <key>textureRect</key>
                <string>{{579,1},{373,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightBtn02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,79}</string>
                <key>spriteSourceSize</key>
                <string>{253,79}</string>
                <key>textureRect</key>
                <string>{{579,108},{253,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fightIconGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{834,108},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,214}</string>
                <key>spriteSourceSize</key>
                <string>{576,214}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sheets.png</string>
            <key>size</key>
            <string>{1021,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d00f0ff59046a7e237c7cd8b1c09db8:d906d1ee37ce4037da3e2c70eebab66d:dfbb67318bda5685967e3f46e89c87c9$</string>
            <key>textureFileName</key>
            <string>sheets.png</string>
        </dict>
    </dict>
</plist>
